<%- include("./partials/FBheaderSectionFour") %>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<div class="ui main text container">
  <div class="ui huge header">Audit Checklist</div>
  <h2>Edit F&B Audit Checklist</h2>
  <form class="ui form" action="/editF&BAuditFormsSectionFive/<%= dataID %>" method="POST">
    <style>
      @media only screen and (max-width: 780px) {
        table, td, tr{
        width: 100%;
        }
        .logo img{
          margin:auto;
          padding-top: 25px;
          padding-left: 15px;
          width: 160px;
          height: 160px;
          margin-left: 7%;
          float: left;
        }
        .border1{
          background-color: rgba(255, 166, 0, 0.678);
          /*background-color: white;*/
          width: 100%;
          height: 10px;
        }
        .navbar-default {
          float: right;
          margin: auto;
          margin-right: 10%;
          margin-top: 00%;
          background-color: #ffffff;
          border-color: #ffffff;
          color: rgb(0, 0, 0);
          font-size: 90%;
        }
        /* Title */
        .navbar-default .navbar-brand {
          color: rgb(0, 0, 0);
        }
        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
          color: #5E5E5E;
        }
        /* Link */
        .navbar-default .navbar-nav > li > a {
          background-color: white;
          border-radius:25px;
          color: black;
        }
        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
          background-color: white;
          border-radius:25px;
          color: orange;
        }
        .navbar-default .navbar-nav > .active > a,
        .navbar-default .navbar-nav > .active > a:hover,
        .navbar-default .navbar-nav > .active > a:focus {
          background-color: orange;
          border-radius:25px;
          color: white;
          /*color: #555;
          background-color: #E7E7E7;*/
        }
      }
    </style>
    <table>
      <input
        type="hidden"
        name="checklist[sessionEmail]"
        value="<%=sessionLogin %>"
      />
      <input type="hidden" id="TotalQuestions" value="<%=totalQn%>" />
      <tr>
        <th>
          4. Healthier Choice in line with HPB’s Healthy Eating’s Initiative
          (15%)
        </th>
        <th>Point(s) Awarded</th>
      </tr>
      <tr>
        <td class = "greenTr">Food</td>
        <td class = "greenTr"></td>
      </tr>

      <% for(var i=0; i<SectionFourFBFood.length; i++) { %>
        <tr>
          <td>
            <%=SectionFourFBFood[i]%>
          </td>
          <td>
            <select 
              class="questions4"
              onchange="getPoints()">
              <option value="1">1</option>
              <option value="0">0</option>
              <option value="N/A">N/A</option>
            </select>
          </td>
        </tr>
        <% } %>

      <tr>
        <td class = "greenTr">Beverage</td>
        <td class = "greenTr"></td>
      </tr>

      <% for(var i=0; i<SectionFourFBBeverage.length; i++) { %>
        <tr>
          <td>
            <%=SectionFourFBBeverage[i]%>
          </td>
          <td>
            <select 
              class="questions4"
              onchange="getPoints()">
              <option value="1">1</option>
              <option value="0">0</option>
              <option value="N/A">N/A</option>
            </select>
          </td>
        </tr>
      <% } %>
      <tr>
        <td class = "greyTr">Score:</td>
        <td>
          <input
            name="checklist[SectionFourTotal]"
            id="total4"
            value="0"
            min="10"
            max="1"
            readonly
          />
        </td>
        <script>
          function getFinalScore()
          {
            var list1 = document.getElementsByClassName("questions4");
            document.getElementById("total4").value = list1.length;
          }
          window.onload = getFinalScore();
        </script>
      </tr>
    </table>
    <h2>Remarks</h2>
    <textarea
    name="checklist[SectionFourRemarks]"
    id="checklistRemarkSectionFour"
    type="text"
    placeholder="Type Here"
    class="remarksTextBox"
    rows="5"
    cols="30"
  ></textarea>
  <br> <br>
   <h3>Photo</h3>

   <input type="file" onchange="previewFile()" id="photo" />
   <img
     id="image"
     height="50%"
     style="max-height: 350pt"
     max-width="670pt"
     width="50%"
   />
   <input
     type="hidden"
     id="SectionFourImage"
     name="checklist[SectionFourImage]"
   />
   <br><br>
   <button id ="Addbutton" type="button" class="btn btn-default btn-sm"  style="display:none" onclick="AddPhoto2()">
     <span class="glyphicon glyphicon-plus-sign"></span> Add Photo
   </button>
   <br>
   <input type="file" onchange="previewFile2()" id="photo2"  style="display:none"/>
   <img
     id="image2"
     height="50%"
     style="max-height: 350pt"
     max-width="670pt"
     width="50%"
   />
   <input
     type="hidden"
     id="SectionFourImage2"
     name="checklist[SectionFourImage2]"
   />
   <br /><br />
   <input
   type="button"
   class="ui violet big basic button"
   value="Previous Section"
   onclick= "redirect()"
  />
   <input
     class="ui violet big basic button"
     type="submit"
     value="Next Section"
   />
  </form>
  <script >
   var image64;
    var imageOne=<%- JSON.stringify(FBSectionFourImage)%>;
    var imageOne2=<%- JSON.stringify(FBSectionFourImage2)%>;
    document.getElementById("image").src=imageOne;
    document.getElementById("SectionFourImage").value=imageOne;
    document.getElementById("image2").src=imageOne2;
    document.getElementById("SectionFourImage2").value=imageOne2;
  function redirect(){
    var ID=<%- JSON.stringify(dataID)%>;
    window.location.assign('/editF&BAuditFormsSectionThree/'+ID )
  }
    function previewFile() {
  
      const file = document.querySelector("#photo").files[0];
    const reader = new FileReader();
    reader.addEventListener("load", function () {
      image64 = reader.result;
      localStorage.setItem("FBSectionFourImage", imageOne);
      document.getElementById("SectionFourImage").value = imageOne;
      document.getElementById("image").src = imageOne;
      localStorage.setItem("FBSectionFourImage2", imageOne2);
      document.getElementById("SectionFourImage").value = imageOne2;
      document.getElementById("image").src = imageOne2;
    const byteSize = str => new Blob([str]).size;

  if ((byteSize(image64) >200000)){
    alert("Photo is too large. Please select another photo.")
    document.getElementById("image").src=""
  }else{
    const byteSize = str => new Blob([str]).size;
      console.log(byteSize(image64))
      document.getElementById("SectionFourImage").value=image64
      console.log(image64)
  }

  
  }, false);

  if (file) {
    reader.readAsDataURL(file);
  }
  
}

function previewFile2() {
      const file = document.querySelector("#photo2").files[0];
      const reader = new FileReader();
      reader.addEventListener(
        "load",
        function () {
          
          image264 = reader.result;
          localStorage.setItem("FBSectionFourImage2", image264);
          document.getElementById("SectionFourImage2").value = image264;
          document.getElementById("image2").src = image264;
       
          const byteSize = (str) => new Blob([str]).size;

          if (byteSize(image264) > 200000) {
            alert("Photo is too large. Please select another photo.");
            document.getElementById("image2").src = "";
            document.getElementById("Addbutton").style="display:none"

          } else {
            const byteSize = (str) => new Blob([str]).size;
            console.log(byteSize(image264));
            document.getElementById("SectionFourImage2").value = image264;
            console.log(image264);
            document.getElementById("Addbutton").style="display:none"
          }
        },
        false
      );

      if (file) {
        reader.readAsDataURL(file);
      }
    }
    function getPoints() {
      var arr4 = document.getElementsByClassName("questions4");
      var tot4 = 0;
      for (var i = 0; i < arr4.length; i++) {
        var data = arr4[i].value;
        if (data == 1) {
          tot4++;
        } else if (data == 0) {
          tot4 = tot4;
        } else {
          //totalQn -= 1;
        }
      }
      document.getElementById("total4").value = tot4;
      //console.log("XSRFTOKEN is :" + Cookies.get("XSRF-TOKEN"));
    }
  </script>

  <script>
    window.onload = function LoadData()
    {
      if(localStorage.getItem("FBSectionFourImage") != null)
      {
        var image64;
        image64 = localStorage.getItem("FBSectionFourImage");
        document.getElementById("SectionFourImage").value = image64;
        //console.log("Getting image64 value: " + image64);
        document.getElementById("image").src = image64;
        document.getElementById("Addbutton").style="display:block"

      }

      if(localStorage.getItem("FBSectionFourImage2") != null)
      {
        var image264;
        image264 = localStorage.getItem("FBSectionFourImage2");
        document.getElementById("SectionFourImage2").value = image264;
        //console.log("Getting image64 value: " + image64);
        document.getElementById("image2").src = image264;
         document.getElementById("Addbutton").style="display:none"

      }
      if(<%- JSON.stringify(FBSectionFourImage2)%> == "")
      {
        document.getElementById("Addbutton").style="display:block"
      }
    var importedData = <%- JSON.stringify(convCheckListData)%>;
    let count = 0;
    for(let key in importedData)
    {
      count++;
    }
    if(count != 0)
    {
      updateCheckList(importedData);
    }

    function selectElement(id, valueToChange) {
      //console.log("Change ID: " + id + "Change data: " + valueToChange);
      let element = document.getElementById(id);
      element.value = valueToChange;
    }
    function updateCheckList(checklist) {
      selectElement("total4", checklist["SectionFourTotal"]);
      //Loop question here
      var list1 = document.getElementsByClassName("questions4");
      var total = parseInt(document.getElementById("TotalQuestions").value);
      for(var i = 0; i < list1.length; i++)
      {
        var strI = (i+1+total).toString();
        selectElement(strI, checklist[strI]);
      }
      if(checklist["SectionFourRemarks"] != undefined)
      {
        selectElement("checklistRemarkSectionFour", checklist["SectionFourRemarks"])
      }
    }
  }
  
  </script>

  <script>
    function submissionOfAuditList() {
      alert("Audit list successfully updated");
    }
  </script>

  <script>
    var total = parseInt(document.getElementById("TotalQuestions").value);
    var list1 = document.getElementsByClassName("questions4");
    for (var i = 0; i < list1.length; i++) {
      list1[i].name = "checklist[" + (i + 1 + total) + "]";
      list1[i].id = i + 1 + total;
    }
  </script>
</div>
<%- include("./partials/footer") %>
